{
  "presets": ["nextron/babel"],
  "plugins": [
    "babel-plugin-macros",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    [
      "@emotion/babel-plugin-jsx-pragmatic",
      {
        "module": "theme-ui",
        "import": "jsx",
        "export": "jsx"
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "jsx",
        "pragmaFrag": "React.Fragment"
      }
    ],
    [
      "babel-plugin-inline-import",
      {
        "extensions": []
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src",
          "~tests": "./tests"
        }
      }
    ]
  ],
  "ignore": [],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "modules": false,
            "spec": true,
            "useBuiltIns": "usage",
            "targets": {
              "node": "6",
              "browsers": [
                "ie >= 11",
                "last 3 chrome major versions",
                "last 3 chromeandroid major versions",
                "last 3 edge major versions",
                "last 3 firefox major versions",
                "last 3 ios major versions",
                "last 3 safari major versions"
              ]
            }
          }
        ]
      ],
      "ignore": [
        "**/*.d.ts",
        "**/*.d.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.ts",
        "**/*.test.tsx",
        "src/@types"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "modules": "umd",
            "spec": true,
            "useBuiltIns": "usage",
            "targets": {
              "node": "6",
              "browsers": [
                "ie >= 11",
                "last 3 chrome major versions",
                "last 3 chromeandroid major versions",
                "last 3 edge major versions",
                "last 3 firefox major versions",
                "last 3 ios major versions",
                "last 3 safari major versions"
              ]
            }
          }
        ]
      ],
      "ignore": [
        "**/*.d.ts",
        "**/*.d.tsx",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "**/*.test.js",
        "**/*.test.jsx",
        "**/*.test.ts",
        "**/*.test.tsx",
        "src/@types"
      ]
    }
  }
}
