{
  "presets": [
    // "nextron/babel",
    [
      "next/babel",
      {
        "preset-env": {
          "corejs": 3,
          "modules": false,
          "spec": true,
          "useBuiltIns": "usage",
          "targets": {
            "node": "6",
            "browsers": [
              "ie >= 11",
              "last 3 chrome major versions",
              "last 3 chromeandroid major versions",
              "last 3 edge major versions",
              "last 3 firefox major versions",
              "last 3 ios major versions",
              "last 3 safari major versions"
            ]
          }
        },
        "transform-runtime": {},
        "styled-jsx": {}
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow",
    "@babel/preset-typescript",
    "babel-preset-expo",
    "@expo/next-adapter/babel"
  ],
  "plugins": [
    "babel-plugin-macros",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    "@babel/plugin-proposal-optional-chaining",
    [
      "@emotion/babel-plugin-jsx-pragmatic",
      {
        "module": "theme-ui",
        "import": "jsx",
        "export": "jsx"
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "jsx",
        "pragmaFrag": "React.Fragment"
      }
    ],
    [
      "babel-plugin-inline-import",
      {
        "extensions": []
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src",
          "~tests": "./tests"
        }
      }
    ]
  ]
}
