# expo
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
.DS_Store
.expo/
/.expo/*
/dist
/web-build/*
dist/
node_modules/
npm-debug.*
web-build/

# nextjs
*.pem
*.tsbuildinfo
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
.vercel
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# app
yarn.lock

# @generated: @expo/next-adapter@3.1.6
/.expo/*
# Expo Web
/web-build/*
# Expo Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
# Next.js
/.next/*
/out/
# Next.js production
/build/
# Next.js dependencies
/.pnp
.pnp.js
# @end @expo/next-adapter
