# app
**/*.env
*.hprof
*.log
.DS_Store
.expo
.vercel
.yarn/install-state.gz
.yarn/unplugged
/esm
/lib
node_modules/
yarn-error.log

# mkpm
.mkpm/*
**/.mkpm/*
!/.mkpm/.cache.tar.gz
!/.mkpm/.bootstrap.mk
